html {
    font-family: 'Roboto', sans-serif;
}

#perstorp-logo {
    width: 10rem;
    margin-left: 4rem;
    margin-top: 1rem;
}

.temperature .form-control-sm {
    display: inline !important;
}

/* ---request 4 quantity option ---*/
.qty-option .form-control {
    display: inline !important;
}

#qty-input {
    padding-top: 3px;
}